* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #f3f3f3;
    color: #1f1f1f;
    font-family: "Inter", sans-serif;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Montserrat", serif;
    height: 10vh;
    color: black;
    background-color: white;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.267);
    font-weight: 500;
    align-items: center;
    padding: 0 50%;
}
a {
    text-decoration: none;
}
header p {
    cursor: pointer;
    color: black;
    text-decoration: none;
    transition: ease-in-out 0.4s;
}
header p:hover {
    font-size: 2.6vh;
    color: #197f5a;
}
.logo {
    height: 20vh;
        margin-top: 10px;
}
.entrar {
    font-size: 0.9rem;
    text-align: center;
    margin-bottom: 20px;
}
a {
    text-decoration: underline;
    color: #196f5a;
}
.cadastrar {
    background-color: #197f5a;
    width: 12vw;
    height: 6vh;
    outline: solid 3px #197f5a;
    font-family: "Montserrat", serif;
    font-weight: 500;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    transition: ease-in-out 0.4s;
    margin-left: 25%;
    color: white;
}
.cadastrar:hover {
    height: 7vh;
}
.container {
    display: grid;
    justify-content: center;
    outline: solid 3px #197f5a;
    width: 30vw;
    height: 60vh;
    border-radius: 8px;
    color: black;
    
}
h1 {
    color: #197f5a;
    font-size: 1.8rem;
    font-weight: 800;
}
.c {
    color: #1f1f1f;
    font-weight: 500;
}
input {
    padding: 3px;
    font-family: "Montserrat", serif;
    border-bottom:  solid 1px #197f5a;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 25vw;
}
input:focus {
    outline: none;
}
input::placeholder {
    color: #197f5a;
}
.fa-house {
    color: black;
    font-size: 1.5rem;
}
.nomeEmail {
    display: grid;
    gap: 20px;
}
.esquerda {
    background-color: #ffffff;
    width: 40%;

    height: 150%;
    display: grid;
    justify-content: start;
    padding-top: 2%;
    padding-left: 60px;
    
}
.divCadastrar {
    display: flex;
}
img {
    position: relative;
    left: 120px;
    height: 75vh;
}
.direita {
    padding-top: 5%;
}
